
body {
    background-color: #A6BFA5;
    text-align: center;
}

h1 {
    font: Arial;
    font-size: x-large;
    color: black;
    text-align: center;
}

.description {
    font: Arial;
    font-size: medium;
    color: black;
    text-align: center;
}

.entry_label, .input_entry {
    font: Arial;
    font-size: medium;
    margin-bottom: 20px;
}


input::placeholder {
    font: arial;
    font-style: italic;
    font-size: small;
    font-weight: light;
}

.form {
    border: 3px #A6BFA5;
    background-color: white;
    height: 200px;
    position: relative;
    border: 3px #A6BFA5;
    width: 60%;
    display: inline-block;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.result {
    text-align: center;
    font-size: medium;
    font-style: bold;
    font: Arial;
    color: black;
}
